<% include ../partials/header %>
<div class="container">

    <div class="row">

        <div class="col-md-12">
            <% if (user.isAdmin) { %>
            <h1 class="text-center">Orders</h1>
            <% } else { %>
            <h1 class="text-center">My Orders</h1>
            <% } %>
        </div>

    </div>


    <div class="tabbable full-width-tabs" style="margin-top:25px">
        <ul class="nav nav-tabs">
            <li class="active take-all-space-you-can"><a data-toggle="tab" href="#all">All</a></li>
            <li class="take-all-space-you-can"><a data-toggle="tab" href="#pending">Pending</a></li>
            <li class="take-all-space-you-can"><a data-toggle="tab" href="#processed">Processed</a></li>
        </ul>

        <div class="tab-content">
            <!-- All-->
            <div id="all" class="tab-pane fade in active" style="margin-top:25px">
                <div class="row">
                    <table id="allTable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <!-- <th>Sr No.</th> -->
                                <th>Order No.</th>
                                <th>Order Summary</th>
                                <th>Created At</th>
                                <th>Processed At</th>
                                <th>Confirmed At</th>
                                <% if(user.isAdmin) {%>
                                <th>Order By</th>
                                <%}%>
                                <th>Status</th>
                                <% if(!user.isAdmin) {%>
                                <th>Confirm Delivery</th>
                                <%}%>
                                <% if(!user.isAdmin) {%>
                                <th>Delete</th>
                                <%}%>
                            </tr>
                        </thead>
                        <tbody>
                            <% let v=0 %>
                            <%  orders.forEach((order) => { %>
                            <tr>
                                <td>
                                    <a href="/order/<%= order._id %>">
                                        <%= order.orderId %>
                                    </a>
                                </td>
                                <td>
                                    <ul>
                                       <% orderDetails[order._id].forEach(item => { %>
                                            <li>
                                                <%= item.item.name %> 
                                            </li>
                                       <% }) %>
                                    </ul>
                                </td>
                                <td>
                                    <%= order.createdAt.toLocaleDateString() %>
                                </td>
                                <td>
                                    <%= order.processedAt ? order.processedAt.toLocaleDateString() : "" %>
                                </td>
                                <td>
                                    <%= order.confirmedAt ? order.createdAt.toLocaleDateString() : "" %>
                                </td>
                                <% if(user.isAdmin){%>
                                <td>
                                    <%= order.faculty.name %>
                                </td>
                                <%}%>
                                <td>
                                    <%= order.status %>
                                </td>
                                <% if(!user.isAdmin && order.status === 'PROCESSED') {%>
                                    <td>
                                        <button class="btn btn-success btn-md" onclick="confirmPressed('<%= order._id %>')">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </button>
                                    </td>
                                    <%}%>
                                    <% if(!user.isAdmin && order.status !== 'PROCESSED') {%>
                                    <td>
                                       
                                    </td>
                                <%}%>
                                <% if(!user.isAdmin && order.status !== 'PROCESSED') {%>
                                <td>
                                    <button class="btn btn-danger btn-md" onclick="deletePressed('<%= order._id %>')">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </td>
                                <%}%>
                                <% if(!user.isAdmin && order.status === 'PROCESSED') {%>
                                <td>
                                   
                                </td>
                                <%}%>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- pending-->
            <div id="pending" class="tab-pane" style="margin-top:25px">
                <div class="row">
                    <table id="pendingTable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Sr No.</th>
                                <th>Order No.</th>
                                <th>Created At</th>
                                <% if(user.isAdmin) {%>
                                <th>Order By</th>
                                <%}%>
                                <th>Status</th>
                                <% if(!user.isAdmin) {%>
                                <th>Delete</th>
                                <%}%>
                            </tr>
                        </thead>
                        <% v=0 %>
                        <tbody>
                            <% orders.forEach((order) => { %>
                            <% if(order.status === 'PENDING') {%>
                            <tr>
                                <td>
                                    <%= ++v %>
                                </td>
                                <td><a href="/order/<%= order._id %>">
                                        <%= order._id %></a></td>
                                <td>
                                    <%= order.createdAt %>
                                </td>
                                <% if(user.isAdmin){%>
                                <td>
                                    <%= order.faculty.name %>
                                </td>
                                <%}%>
                                <td>
                                    <%= order.status %>
                                </td>
                                <% if(!user.isAdmin) {%>
                                <td>
                                    <button class="btn btn-danger btn-md">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </td>
                                <%}%>
                            </tr>
                            <%} %>

                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- processed-->
            <div id="processed" class="tab-pane fade in" style="margin-top:25px">
                <div class="row">
                    <table id="processedTable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Sr No.</th>
                                <th>Order No.</th>
                                <th>Created At</th>
                                <% if(user.isAdmin) {%>
                                <th>Order By</th>
                                <%}%>
                                <th>Status</th>
                                <% if(!user.isAdmin) {%>
                                <th>Delete</th>
                                <%}%>
                            </tr>
                        </thead>
                        <tbody>
                            <% v=0 %>
                            <% orders.forEach((order) => { %>
                            <% if(order.status === 'PROCESSED') {%>
                            <tr>
                                <td>
                                    <%= ++v %>
                                </td>
                                <td><a href="/order/<%= order._id %>">
                                        <%= order._id %></a></td>
                                <td>
                                    <%= order.createdAt %>
                                </td>
                                <% if(user.isAdmin){%>
                                <td>
                                    <%= order.faculty.name %>
                                </td>
                                <%}%>
                                <td>
                                    <%= order.status %>
                                </td>
                                <% if(!user.isAdmin) {%>
                                <td>
                                    
                                </td>
                                <%}%>
                            </tr>
                            <%} %>

                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <!-- <% if (!user.isAdmin) { %>

        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1 class="text-center">Notification</h1>

                <table id="notificationsTable" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Sr No.
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Created At
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <% notifications.forEach((notification, i) => { %>
                        <tr>
                            <td>
                                <%= i + 1 %> 
                            </td>
                            <td>
                                <% if (notification.subject === 'ORDER') { %>
                                <%= notification.text.substring(0, 15) %>
                                <a href="/order/<%= notification.text.substring(15, 39) %>">
                                    <%= notification.text.substring(15, 39) %>
                                </a>
                                <%= notification.text.substring(39) %>
                                <% } else { %>
                                <%= notification.text %>
                                <% } %>
                            </td>
                            <td>
                                <%= notification.createdAt %>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>

        </div>

        <% } %> -->
    </div>

<% include ../partials/footer %>