<% include ../partials/header %> 
<div class="container">
    <h1 class="text-center">My Orders</h1>

    
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Sr No.</th>
                <th>Order No.</th>
                <th>Created At</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <% orders.forEach((order, i) => { %>
               <tr>
                    <td><%= (i + 1) %> </td>
                    <td><a href="/order/<%= order._id %>"><%= order._id %></a></td>
                    <td><%= order.createdAt %> </td>
                    <td><%= order.status %></td>
                </tr>
            <% }) %>            
        </tbody>
    </table>
    
</div>

<% include ../partials/footer %> 
