<% include ../partials/header %> 
<div style="margin-top: 25px" class="container">
    
    <div class="row">
        
        <div class="col-md-11">
        <% if (user.isAdmin) { %>
            <h1 class="text-center">Orders</h1>
        <% } else { %>
            <h1 class="text-center">My Orders</h1>
        <% } %>
        </div>

        <div class="col-md-1">
        <% if (user.isAdmin) { %>
            <a style="color: white" class="btn btn-md btn-primary" href="/admin/inventory">Inventory</a>
        <% } else { %>
            <a style="color: white" class="btn btn-md btn-primary" href="/item">New Order</a>
        <% } %>
        </div>        
        
    </div>

    
    <div class="row">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Sr No.</th>
                    <th>Order No.</th>
                    <th>Created At</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <% orders.forEach((order, i) => { %>
                   <tr>
                        <td><%= (i + 1) %> </td>
                        <td><a href="/order/<%= order._id %>"><%= order._id %></a></td>
                        <td><%= order.createdAt %> </td>
                        <td><%= order.status %></td>
                    </tr>
                <% }) %>            
            </tbody>
        </table>
    </div>    
</div>

<% include ../partials/footer %> 
