<% include ../partials/header %>
<div class="container">
       
 <div class="row" style="margin-top: 29px">
        <table class ="table table-striped table-bordered table-hover">
                     <thead>
                        <tr>
                            <th>Sr. no</th>
                            <th>Uploaded At</th>
                            <th>Topic</th>
                            <th>Description</th>
                            <th>File Name</th>
                            <th>View</th>
                        </tr>
                    </thead> 
                    
                    <tbody>
                            <%var i =0; bills.forEach((bill)=>{  %>
                            
                             <tr>
                                 <td><%= i+1 %></td>
                                <td> <%= bill.uploadedAt.toLocaleString() %> </td>
                                <td> <%= bill.topic %> </td>
                                <td> <%= bill.description %> </td>
                                <td> <%= bill.fileName %> </td>
                                <td>   <form action="/bills/download" method="POST"> 
                                    <input type="hidden" class="form-control"  name="id" value="<%= bill.id %>">
                                    <button type="submit" ><i class="fa fa-download"></i></button>
                                </form> </td>
                                 
                             </tr>   
                           <% i++;}) %>
                        </tbody>
        </table>
 </div>
</div>

<% include ../partials/footer %>